<section class="contact container" id="contact">
    <article>
        <h2 class="contact-title">Trabajemos juntos...</h2>
        <p class="contact-text">
            Si quieres hablar de un proyecto o simplemente tienes una pregunta,
            rellena el siguiente formulario. Mi objetivo es responder en un
            plazo de 2 días.
        </p>
    </article>

    <article>
        <form
            action="https://formsubmit.co/5c8c47e90c490c56d8cd72090fb45171"
            method="POST"
        >
            <fieldset>
                <label for="name">Nombre</label>
                <input
                    type="text"
                    name="name"
                    id="name"
                    placeholder="Ingresa tú nombre"
                    required
                />
            </fieldset>
            <fieldset>
                <label for="email">Email</label>
                <input
                    type="email"
                    name="email"
                    id="email"
                    placeholder="Ingresa tú email"
                    required
                    _replyto
                />
            </fieldset>
            <fieldset>
                <label for="message">Mensaje</label>
                <textarea
                    name="message"
                    id="message"
                    placeholder="Ingresa tú mensaje"
                    required
                ></textarea>
            </fieldset>
            <input type="hidden" name="_subject" value="Nuevo mensaje!" />
            <input
                type="hidden"
                name="_autoresponse"
                value="¡Muchas gracias por tu mensaje! lo recibí correctamente 😊. Me comunicaré contigo en las próximas 48 horas."
            />
            <fieldset>
                <button type="submit">Enviar</button>
            </fieldset>
        </form>
    </article>
</section>
