<section class="about container" id="about">
    <article class="about-avatar">
        <picture>
            <img [src]="person.imageProfile" alt="Imagen de Perfil" />
        </picture>
    </article>

    <article class="about__container">
        <h2 class="about-title">
            Hola, soy {{ person.name }}, encantado de conocerte!
            <span>👋</span>
        </h2>
        <article class="card-flex">
            <p class="about-paragraph">
                {{ person.aboutDescription }}
            </p>
            <div class="update-delete">
                <i
                    class="fa-solid fa-pen-to-square"
                    [routerLink]="['/editar-perfil', person.id]"
                ></i>
            </div>
        </article>
    </article>
</section>
