<section class="about container" id="about">
    <article class="about__avatar">
        <picture>
            <img src="../../../assets/images/avatar.svg" alt="" />
        </picture>
    </article>

    <article class="about__container">
        <h2 class="about__title">
            Hola, soy Francisco, encantado de conocerte! <span>👋</span>
        </h2>
        <p class="about__paragraph">
            Soy un Diseñador fotográfico y desarrollador Full Stack de Buenos
            Aires, Argentina. Con una formación en el campo de la programación,
            con una amplia experiencia en el desarrollo de aplicaciones web. Me
            encanta trabajar en equipo y aprender nuevas tecnologías. Me gusta
            mucho la tecnología y la programación, por eso me gustaría que me
            formases como desarrollador web.
        </p>
    </article>
</section>
