<section class="about container" id="about">
    <article class="about-avatar">
        <picture>
            <img [src]="person.imageProfile" alt="Imagen de Perfil" />
        </picture>
    </article>

    <article class="about__container">
        <div class="card-flex">
            <div></div>
            <div class="update-delete" *ngIf="isLogged">
                <i
                    class="fa-solid fa-pen-to-square"
                    [routerLink]="['/editar-perfil', person.id]"
                ></i>
            </div>
        </div>

        <h2 class="about-title">
            Hola, soy {{ person.name }}, encantado de conocerte! <span>👋</span>
        </h2>
        <p class="about-paragraph">
            {{ person.aboutDescription }}
        </p>
    </article>
</section>
