<footer class="container">
    <section class="footer__container">
        <article>
            <nav class="footer__nav">
                <ul>
                    <li>
                        <a href="#home">Inicio</a>
                    </li>
                    <li>
                        <a href="#about">Acerca de</a>
                    </li>
                    <li>
                        <a href="#expertise">Experiencia</a>
                    </li>
                    <li>
                        <a href="#education">Educación</a>
                    </li>
                    <li>
                        <a href="#skills">Habilidades</a>
                    </li>
                    <li>
                        <a href="#projects">Proyectos</a>
                    </li>
                    <li>
                        <a href="#contact">Contacto</a>
                    </li>
                </ul>
            </nav>
        </article>

        <article class="footer__social">
            <ul>
                <li>
                    <a href="" target="_blank">
                        <i class="fa-brands fa-codepen"></i>
                    </a>
                </li>
                <li>
                    <a href="https://github.com/FranciscoLGM" target="_blank">
                        <i class="fa-brands fa-github"></i>
                        <i class="bx bxl-github bx-tada"></i>
                    </a>
                </li>
                <li>
                    <a href="" target="_blank">
                        <i class="fa-brands fa-linkedin-in"></i>
                    </a>
                </li>
            </ul>
        </article>

        <article>
            <p class="footer__copy">
                Codeado con 🧡 - Copyright © {{ year }} - Todos los derechos
                reservados
            </p>
        </article>
    </section>
</footer>
