<footer>
    <section class="footer-container container">
        <article>
            <nav class="footer-nav">
                <ul>
                    <li>
                        <a href="#">Inicio</a>
                    </li>
                    <li>
                        <a href="#about">Acerca de</a>
                    </li>
                    <li>
                        <a href="#expertise">Experiencia</a>
                    </li>
                    <li>
                        <a href="#education">Educación</a>
                    </li>
                    <li>
                        <a href="#certification">Licencias</a>
                    </li>
                    <li>
                        <a href="#skills">Habilidades</a>
                    </li>
                    <li>
                        <a href="#projects">Proyectos</a>
                    </li>
                    <li>
                        <a href="#contact">Contacto</a>
                    </li>
                </ul>
            </nav>
        </article>

        <article class="footer-social">
            <ul>
                <li>
                    <a
                        href="https://codepen.io/franciscolopezg/pens/public"
                        target="_blank"
                    >
                        <span class="bg-ico"
                            ><i class="fa-brands fa-codepen"></i
                        ></span>
                    </a>
                </li>
                <li>
                    <a href="https://github.com/FranciscoLGM" target="_blank">
                        <span class="bg-ico"
                            ><i class="fa-brands fa-github-alt"></i
                        ></span>
                        <i class="bx bxl-github bx-tada"></i>
                    </a>
                </li>
                <li>
                    <a
                        href="https://linkedin.com/in/francisco-lopez-garciamayorga"
                        target="_blank"
                    >
                        <span class="bg-ico"
                            ><i class="fa-brands fa-linkedin-in"></i
                        ></span>
                    </a>
                </li>
                <li>
                    <a href="https://t.me/Francisco_LopezG" target="_blank">
                        <span class="bg-ico"
                            ><i class="fa-brands fa-telegram"></i
                        ></span>
                    </a>
                </li>
            </ul>
        </article>

        <article>
            <p class="footer-copy">
                Codeado con ❤️ - Copyright © {{ year }} - Todos los derechos
                reservados
            </p>
        </article>
    </section>
</footer>
