footer {
    background-color: var(--bs-background-color);
    color: var(--bs-card-bg);
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding: 6rem 0;
}

.footer-nav > ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 2rem;
    padding: 0 2rem 3rem 2rem;
    gap: 1.5rem;
}

.footer-nav > ul > li > a {
    text-decoration: none;
    color: var(--bs-text-color);
}

.footer-nav > ul > li > a:hover {
    font-weight: 700;
}

.footer-social {
    font-size: 3rem;
}

.footer-social > ul {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 3rem;
}

.footer-social > ul > li > a {
    text-decoration: none;
    color: var(--bs-background-color);
}

.bg-ico {
    background-color: var(--bs-text-color);
    border-radius: 50%;
    padding: 0 0.8rem;
}

.footer-copy {
    font-weight: 300;
    text-align: center;
    padding: 5rem 2rem 0 2rem;
}
