<app-navbar></app-navbar>
<section>
    <div class="container">
        <article>
            <h2 class="title-form">{{ title }}</h2>
        </article>

        <article>
            <form
                [formGroup]="certificationForm"
                (ngSubmit)="postCertificationData()"
            >
                <fieldset class="form-group">
                    <label for="degree">Título</label>
                    <input
                        type="text"
                        name="degree"
                        id="degree"
                        required
                        placeholder="Ingresa un título"
                        formControlName="degree"
                    />
                    <label
                        class="alert"
                        *ngIf="
                            certificationForm
                                .get('degree')
                                ?.hasError('required') &&
                            certificationForm.get('degree')?.touched
                        "
                    >
                        Debes ingresar un título
                    </label>
                </fieldset>
                <fieldset>
                    <label for="university">Universidad</label>
                    <input
                        type="text"
                        name="university"
                        id="university"
                        required
                        placeholder="Ingresa una universidad"
                        formControlName="university"
                    />
                    <label
                        class="alert"
                        *ngIf="
                            certificationForm
                                .get('university')
                                ?.hasError('required') &&
                            certificationForm.get('university')?.touched
                        "
                    >
                        Debes ingresar el nombre de la Universidad
                    </label>
                </fieldset>
                <fieldset>
                    <label for="inicio">Fecha de inicio</label>
                    <input
                        type="text"
                        name="inicio"
                        id="inicio"
                        required
                        placeholder="Ingresa la fecha de inicio"
                        formControlName="inicio"
                    />
                    <label
                        class="alert"
                        *ngIf="
                            certificationForm
                                .get('inicio')
                                ?.hasError('required') &&
                            certificationForm.get('inicio')?.touched
                        "
                    >
                        Debes ingresar una fecha de inicio
                    </label>
                </fieldset>
                <fieldset>
                    <label for="fin">Fecha de finalización</label>
                    <input
                        type="text"
                        name="fin"
                        id="fin"
                        required
                        placeholder="Ingresa la fecha de finalización"
                        formControlName="fin"
                    />
                    <label
                        class="alert"
                        *ngIf="
                            certificationForm
                                .get('fin')
                                ?.hasError('required') &&
                            certificationForm.get('fin')?.touched
                        "
                    >
                        Debes ingresar una fecha de finalización
                    </label>
                </fieldset>
                <fieldset>
                    <label for="city">Ciudad</label>
                    <input
                        type="text"
                        name="city"
                        id="city"
                        required
                        placeholder="Ingresa la ciudad"
                        formControlName="city"
                    />
                    <label
                        class="alert"
                        *ngIf="
                            certificationForm
                                .get('city')
                                ?.hasError('required') &&
                            certificationForm.get('city')?.touched
                        "
                    >
                        Debes ingresar una ciudad
                    </label>
                </fieldset>
                <fieldset>
                    <label for="imageUniversity">Logo de la Universidad</label>
                    <input
                        type="text"
                        name="imageUniversity"
                        id="imageUniversity"
                        required
                        placeholder="Ingresa la URL del logo de la universidad"
                        formControlName="imageUniversity"
                    />
                    <label
                        class="alert"
                        *ngIf="
                            certificationForm
                                .get('imageUniversity')
                                ?.hasError('required') &&
                            certificationForm.get('imageUniversity')?.touched
                        "
                    >
                        Debes ingresar una ruta de imágen
                    </label>
                </fieldset>
                <fieldset>
                    <label for="description"
                        >Descripción de la carrera
                        <span class="optional">(Opcional)</span></label
                    >
                    <textarea
                        name="description"
                        id="description"
                        placeholder="Describe tú experiencia (Opcional)"
                        formControlName="description"
                        maxlength="255"
                    ></textarea>
                </fieldset>
                <fieldset class="btn-flex">
                    <button type="submit" [disabled]="!certificationForm.valid">
                        Aceptar
                    </button>
                    <button class="cancelar" routerLink="/">Cancelar</button>
                </fieldset>
            </form>
        </article>
    </div>
</section>
<app-footer></app-footer>
