<app-navbar></app-navbar>
<section>
    <div class="container">
        <article>
            <h2 class="title-form">{{ title }}</h2>
        </article>

        <article>
            <form [formGroup]="profileForm" (ngSubmit)="postProfileData()">
                <fieldset class="form-group">
                    <label for="name">Nombre</label>
                    <input
                        type="text"
                        name="name"
                        id="name"
                        required
                        placeholder="Ingresa tú nombre"
                        formControlName="name"
                    />
                    <label
                        class="alert"
                        *ngIf="
                            profileForm.get('name')?.hasError('required') &&
                            profileForm.get('name')?.touched
                        "
                    >
                        Debes ingresar tú nombre
                    </label>
                </fieldset>
                <fieldset>
                    <label for="lastname">Apellido</label>
                    <input
                        type="text"
                        name="lastname"
                        id="lastname"
                        required
                        placeholder="Ingresa tú apellido"
                        formControlName="lastname"
                    />
                    <label
                        class="alert"
                        *ngIf="
                            profileForm.get('lastname')?.hasError('required') &&
                            profileForm.get('lastname')?.touched
                        "
                    >
                        Debes ingresar tú apellido
                    </label>
                </fieldset>
                <fieldset>
                    <label for="profession">Profesión</label>
                    <input
                        type="text"
                        name="profession"
                        id="profession"
                        required
                        placeholder="Ingresa tú profesión"
                        formControlName="profession"
                    />
                    <label
                        class="alert"
                        *ngIf="
                            profileForm
                                .get('profession')
                                ?.hasError('required') &&
                            profileForm.get('profession')?.touched
                        "
                    >
                        Debes ingresar tú profesión
                    </label>
                </fieldset>
                <fieldset>
                    <label for="occupation">Ocupación</label>
                    <input
                        type="text"
                        name="occupation"
                        id="occupation"
                        required
                        placeholder="Ingresa tú ocupación"
                        formControlName="occupation"
                    />
                    <label
                        class="alert"
                        *ngIf="
                            profileForm
                                .get('occupation')
                                ?.hasError('required') &&
                            profileForm.get('occupation')?.touched
                        "
                    >
                        Debes ingresar tú ocupación
                    </label>
                </fieldset>
                <fieldset>
                    <label for="heroDescription">Descripción del Header</label>
                    <textarea
                        name="heroDescription"
                        id="heroDescription"
                        required
                        placeholder="Ingresa una descripción para el header"
                        formControlName="heroDescription"
                    ></textarea>
                    <label
                        class="alert"
                        *ngIf="
                            profileForm
                                .get('heroDescription')
                                ?.hasError('required') &&
                            profileForm.get('heroDescription')?.touched
                        "
                    >
                        Debes ingresar una descripción para la sección header
                    </label>
                </fieldset>
                <fieldset>
                    <label for="aboutDescription"
                        >Descripción del acerca de</label
                    >
                    <textarea
                        name="aboutDescription"
                        id="aboutDescription"
                        required
                        placeholder="Ingresa una descripción para el acerca de"
                        formControlName="aboutDescription"
                        maxlength="550"
                    ></textarea>
                    <label
                        class="alert"
                        *ngIf="
                            profileForm
                                .get('aboutDescription')
                                ?.hasError('maxlength') &&
                            profileForm.get('aboutDescription')?.touched
                        "
                    >
                        Debes ingresar una descripción de hasta 550 caracteres
                    </label>
                </fieldset>
                <fieldset>
                    <label for="imageProfile">Imágen de perfil</label>
                    <input
                        type="text"
                        name="imageProfile"
                        id="imageProfile"
                        required
                        placeholder="Ingresa la ruta de tú imágen de perfil"
                        formControlName="imageProfile"
                    />
                    <label
                        class="alert"
                        *ngIf="
                            profileForm
                                .get('imageProfile')
                                ?.hasError('required') &&
                            profileForm.get('imageProfile')?.touched
                        "
                    >
                        Debes ingresar la ruta de tú imágen de perfil
                    </label>
                </fieldset>
                <fieldset class="btn-flex">
                    <button type="submit" [disabled]="!profileForm.valid">
                        Actualizar
                    </button>
                    <button class="cancelar" routerLink="/">Cancelar</button>
                </fieldset>
            </form>
        </article>
    </div>
</section>
<app-footer></app-footer>
