<section class="projects container" id="projects">
    <article>
        <h2 class="projects__text">Estos son algunos de mis proyectos</h2>
    </article>

    <section class="projects__grid">
        <article class="project__item">
            <figure>
                <a
                    class="project__link"
                    href="https://codepen.io/franciscolopezg/full/NWXLdaN"
                    target="_blank"
                >
                    <img
                        src="https://drive.google.com/uc?export=view&id=1v4oaGKlH4ofLoCy9rVCxhgbj-WImlGqS"
                        alt="Página de tributo a Anthony Bourdain"
                    />
                    <figcaption class="project__title">
                        <span class="code">&lt;</span>
                        Página Tributo
                        <span class="code">&#47;&gt;</span>
                    </figcaption>
                </a>
            </figure>
        </article>

        <article class="project__item">
            <figure>
                <a
                    class="project__link"
                    href="https://codepen.io/franciscolopezg/full/NWXLdaN"
                    target="_blank"
                >
                    <img
                        src="https://drive.google.com/uc?export=view&id=1v4oaGKlH4ofLoCy9rVCxhgbj-WImlGqS"
                        alt="Página de tributo a Anthony Bourdain"
                    />
                    <figcaption class="project__title">
                        <span class="code">&lt;</span>
                        Página Tributo
                        <span class="code">&#47;&gt;</span>
                    </figcaption>
                </a>
            </figure>
        </article>

        <article class="project__item">
            <figure>
                <a
                    class="project__link"
                    href="https://codepen.io/franciscolopezg/full/NWXLdaN"
                    target="_blank"
                >
                    <img
                        src="https://drive.google.com/uc?export=view&id=1v4oaGKlH4ofLoCy9rVCxhgbj-WImlGqS"
                        alt="Página de tributo a Anthony Bourdain"
                    />
                    <figcaption class="project__title">
                        <span class="code">&lt;</span>
                        Página Tributo
                        <span class="code">&#47;&gt;</span>
                    </figcaption>
                </a>
            </figure>
        </article>

        <article class="project__item">
            <figure>
                <a
                    class="project__link"
                    href="https://codepen.io/franciscolopezg/full/NWXLdaN"
                    target="_blank"
                >
                    <img
                        src="https://drive.google.com/uc?export=view&id=1v4oaGKlH4ofLoCy9rVCxhgbj-WImlGqS"
                        alt="Página de tributo a Anthony Bourdain"
                    />
                    <figcaption class="project__title">
                        <span class="code">&lt;</span>
                        Página Tributo
                        <span class="code">&#47;&gt;</span>
                    </figcaption>
                </a>
            </figure>
        </article>

        <article class="project__item">
            <figure>
                <a
                    class="project__link"
                    href="https://codepen.io/franciscolopezg/full/NWXLdaN"
                    target="_blank"
                >
                    <img
                        src="https://drive.google.com/uc?export=view&id=1v4oaGKlH4ofLoCy9rVCxhgbj-WImlGqS"
                        alt="Página de tributo a Anthony Bourdain"
                    />
                    <figcaption class="project__title">
                        <span class="code">&lt;</span>
                        Página Tributo
                        <span class="code">&#47;&gt;</span>
                    </figcaption>
                </a>
            </figure>
        </article>

        <article class="project__item">
            <figure>
                <a
                    class="project__link"
                    href="https://codepen.io/franciscolopezg/full/NWXLdaN"
                    target="_blank"
                >
                    <img
                        src="https://drive.google.com/uc?export=view&id=1v4oaGKlH4ofLoCy9rVCxhgbj-WImlGqS"
                        alt="Página de tributo a Anthony Bourdain"
                    />
                    <figcaption class="project__title">
                        <span class="code">&lt;</span>
                        Página Tributo
                        <span class="code">&#47;&gt;</span>
                    </figcaption>
                </a>
            </figure>
        </article>
    </section>
</section>
