<section class="projects" id="projects">
    <section class="container">
        <article class="card-flex">
            <h2 class="card-title">{{ title }}</h2>
            <i
                routerLink="/nuevo-proyecto"
                class="fa-solid fa-plus"
                *ngIf="isLogged"
            ></i>
        </article>

        <section class="projects-grid">
            <article class="project-item" *ngFor="let project of projects">
                <article class="card-flex project-flex">
                    <div class="update-delete" *ngIf="isLogged">
                        <i
                            class="fa-solid fa-pen-to-square"
                            [routerLink]="['/editar-proyecto', project.id]"
                        ></i>
                        <i
                            (click)="deleteProjectData(project.id)"
                            class="fa-solid fa-trash-can"
                        ></i>
                    </div>
                </article>
                <figure>
                    <a
                        class="project-link"
                        [href]="project.urlProject"
                        target="_blank"
                    >
                        <img
                            [src]="project.imageProject"
                            alt="{{ project.description }}"
                        />
                        <figcaption class="project-title">
                            <span class="code">&lt;</span>
                            {{ project.title }}
                            <span class="code">&#47;&gt;</span>
                        </figcaption>
                    </a>
                </figure>
            </article>
        </section>
    </section>
</section>
