/* projects */

.projects {
    text-align: center;
    color: var(--bs-text-color);
    padding: 8rem 0;
    margin: 6rem 0 0 0;
}

.projects-text {
    font-size: var(--bs-font-size-h2);
    font-weight: 700;
    padding: 0 0 8rem 0;
    color: var(--bs-text-color-dark);
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 5rem;
    width: 100%;
    margin: 0 auto;
}

.project-item {
    max-width: 400px;
    background-color: var(--bs-card-bg-dark);
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: var(--bs-card-box-shadow);
    margin: 0 auto;
}

figure > a {
    color: inherit;
}

.code {
    font-size: 2rem;
    font-weight: 700;
    color: var(--bs-card-bg-dark);
}

.project-link:hover .code {
    color: #abbaab;
}

.project-item img {
    width: 100%;
}

.project-title {
    font-size: 1.9rem;
    font-weight: 700;
    padding: 1rem;
    width: 100%;
}

.project-flex {
    display: flex;
    justify-content: flex-end !important;
    align-items: center;
    width: 100%;
    padding-bottom: 1rem;
}

.fa-pen-to-square {
    color: #abbaab;
}

.fa-trash-can {
    color: #abbaab;
}
