<app-navbar></app-navbar>
<section>
    <article class="container">
        <h2 class="title-form">Acceder</h2>
        <form action="/" method="get">
            <fieldset>
                <label for="username">Nombre de Usuario</label>
                <input
                    type="text"
                    name="username"
                    id="username"
                    required
                    placeholder="Ingresa tú nombre de Usuario"
                />
            </fieldset>
            <fieldset>
                <label for="password">Contraseña</label>
                <input
                    type="password"
                    name="password"
                    id="password"
                    required
                    placeholder="Ingresa tú Contraseña"
                />
            </fieldset>
            <fieldset class="btn-flex">
                <button class="cancelar" routerLink="/">Cancelar</button>
                <button type="submit">Ingresar</button>
            </fieldset>
        </form>
    </article>
</section>
<app-footer></app-footer>
