<section class="container" id="expertise">
    <article class="card-flex">
        <h2 class="card-title">{{ title }}</h2>
        <i routerLink="/nueva-experiencia" class="fa-solid fa-plus"></i>
    </article>

    <section class="card" *ngFor="let expertise of expertises">
        <article class="card-flex expertise-flex">
            <div></div>
            <div class="update-delete">
                <i
                    class="fa-solid fa-pen-to-square"
                    [routerLink]="['/editar-experiencia', expertise.id]"
                ></i>
                <i
                    (click)="deleteExpertiseData(expertise.id)"
                    class="fa-solid fa-trash-can"
                ></i>
            </div>
        </article>
        <article class="card-container">
            <section class="card-logo">
                <picture>
                    <img
                        class="img-logo"
                        [src]="expertise.imageCompany"
                        alt="Logo de la compañia"
                    />
                </picture>
            </section>

            <section>
                <h3 class="card-subtitle">{{ expertise.position }}</h3>
                <p class="card-work">{{ expertise.company }}</p>
                <p class="card-year">
                    {{ expertise.inicio }} - {{ expertise.fin }}
                </p>
                <p class="card-city">
                    {{ expertise.city }}
                </p>
                <p class="card-text">
                    {{ expertise.description }}
                </p>
            </section>
        </article>
    </section>
</section>
