<section class="card container" id="expertise">
    <h2 class="card__title">Experiencia</h2>

    <article class="card__container">
        <section class="card__logo">
            <picture>
                <img
                    class="img__logo"
                    src="../../../assets/images/arg-programa.png"
                    alt="Logo Expertise 1"
                />
            </picture>
        </section>

        <section>
            <h3 class="card__subtitle">Desarrollo de aplicaciones web</h3>
            <p class="card__work">Argentina Programa</p>
            <p class="card__year">Sept. 2020 - actualidad</p>
            <p class="card__city">Ciudad Autonóma de Buenos Aires, Argentina</p>
            <p class="card__text">
                Desarrollo de aplicaciones web para la web, para dispositivos
                móviles y para la web.
            </p>
        </section>
    </article>

    <article class="card__container">
        <section class="card__logo">
            <picture>
                <img
                    class="img__logo"
                    src="../../../assets/images/arg-programa.png"
                    alt="Logo Expertise 1"
                />
            </picture>
        </section>

        <section>
            <h3 class="card__subtitle">Desarrollo de aplicaciones web</h3>
            <p class="card__work">Argentina Programa</p>
            <p class="card__year">Sept. 2020 - actualidad</p>
            <p class="card__city">Ciudad Autonóma de Buenos Aires, Argentina</p>
            <p class="card__text">
                Desarrollo de aplicaciones web para la web, para dispositivos
                móviles y para la web.
            </p>
        </section>
    </article>

    <article class="card__container">
        <section class="card__logo">
            <picture>
                <img
                    class="img__logo"
                    src="../../../assets/images/arg-programa.png"
                    alt="Logo Expertise 1"
                />
            </picture>
        </section>

        <section>
            <h3 class="card__subtitle">Desarrollo de aplicaciones web</h3>
            <p class="card__work">Argentina Programa</p>
            <p class="card__year">Sept. 2020 - actualidad</p>
            <p class="card__city">Ciudad Autonóma de Buenos Aires, Argentina</p>
            <p class="card__text">
                Desarrollo de aplicaciones web para la web, para dispositivos
                móviles y para la web.
            </p>
        </section>
    </article>

    <article class="card__container">
        <section class="card__logo">
            <picture>
                <img
                    class="img__logo"
                    src="../../../assets/images/arg-programa.png"
                    alt="Logo Expertise 1"
                />
            </picture>
        </section>

        <section>
            <h3 class="card__subtitle">Desarrollo de aplicaciones web</h3>
            <p class="card__work">Argentina Programa</p>
            <p class="card__year">Sept. 2020 - actualidad</p>
            <p class="card__city">Ciudad Autonóma de Buenos Aires, Argentina</p>
            <p class="card__text">
                Desarrollo de aplicaciones web para la web, para dispositivos
                móviles y para la web.
            </p>
        </section>
    </article>
</section>
