<section class="container" id="education">
    <article>
        <article class="card-flex">
            <h2 class="card-title">{{ title }}</h2>
            <i
                routerLink="/nueva-educacion"
                class="fa-solid fa-plus"
                *ngIf="isLogged"
            ></i>
        </article>

        <section class="card" *ngFor="let education of educations">
            <article class="card-flex education-flex">
                <div class="update-delete" *ngIf="isLogged">
                    <i
                        class="fa-solid fa-pen-to-square"
                        [routerLink]="['/editar-educacion', education.id]"
                    ></i>
                    <i
                        (click)="deleteEducationData(education.id)"
                        class="fa-solid fa-trash-can"
                    ></i>
                </div>
            </article>
            <article class="card-container">
                <section class="card-logo">
                    <picture>
                        <img
                            class="img-logo"
                            [src]="education.imageUniversity"
                            alt="Logo de la universidad"
                        />
                    </picture>
                </section>

                <section>
                    <h3 class="card-subtitle">{{ education.degree }}</h3>
                    <p class="card-work">{{ education.university }}</p>
                    <p class="card-year">
                        {{ education.inicio }} - {{ education.fin }}
                    </p>
                    <p class="card-city">
                        {{ education.city }}
                    </p>
                    <p class="card-text">
                        {{ education.description }}
                    </p>
                </section>
            </article>
        </section>
    </article>

    <article id="certification">
        <article class="card-flex">
            <h2 class="card-title">{{ title2 }}</h2>
            <i
                routerLink="/nueva-certificacion"
                class="fa-solid fa-plus"
                *ngIf="isLogged"
            ></i>
        </article>

        <section class="card" *ngFor="let certification of certifications">
            <article class="card-flex education-flex">
                <div class="update-delete" *ngIf="isLogged">
                    <i
                        class="fa-solid fa-pen-to-square"
                        [routerLink]="[
                            '/editar-certificacion',
                            certification.id
                        ]"
                    ></i>
                    <i
                        (click)="deleteCertificationData(certification.id)"
                        class="fa-solid fa-trash-can"
                    ></i>
                </div>
            </article>
            <article class="card-container">
                <section class="card-logo">
                    <picture>
                        <img
                            class="img-logo"
                            [src]="certification.imageUniversity"
                            alt="Logo de la institución"
                        />
                    </picture>
                </section>

                <section>
                    <h3 class="card-subtitle">{{ certification.degree }}</h3>
                    <p class="card-work">{{ certification.university }}</p>
                    <p class="card-year">
                        {{ certification.inicio }} - {{ certification.fin }}
                    </p>
                    <p class="card-city">
                        {{ certification.city }}
                    </p>
                    <p class="card-text">
                        {{ certification.description }}
                    </p>
                </section>
            </article>
        </section>
    </article>
</section>
