<section class="card container" id="education">
    <h2 class="car-title">Educación</h2>

    <article class="card-container">
        <section class="card-logo">
            <picture>
                <img
                    class="img-logo"
                    src="../../../assets/images/UP-logo.png"
                    alt="Logo Expertise 1"
                />
            </picture>
        </section>

        <section>
            <h3 class="card-subtitle">Universidad de Palermo</h3>
            <p class="education-work">Diseñador Fotografico</p>
            <p class="card-year">2010 - 2015</p>
        </section>
    </article>

    <article class="card-container">
        <section class="card-logo">
            <picture>
                <img
                    class="img-logo"
                    src="../../../assets/images/UP-logo.png"
                    alt="Logo Expertise 1"
                />
            </picture>
        </section>

        <section>
            <h3 class="card-subtitle">Universidad de Palermo</h3>
            <p class="education-work">Diseñador Fotografico</p>
            <p class="card-year">2010 - 2015</p>
        </section>
    </article>

    <article class="card-container">
        <section class="card-logo">
            <picture>
                <img
                    class="img-logo"
                    src="../../../assets/images/UP-logo.png"
                    alt="Logo Expertise 1"
                />
            </picture>
        </section>

        <section>
            <h3 class="card-subtitle">Universidad de Palermo</h3>
            <p class="education-work">Diseñador Fotografico</p>
            <p class="card-year">2010 - 2015</p>
        </section>
    </article>

    <article class="card-container">
        <section class="card-logo">
            <picture>
                <img
                    class="img-logo"
                    src="../../../assets/images/UP-logo.png"
                    alt="Logo Expertise 1"
                />
            </picture>
        </section>

        <section>
            <h3 class="card-subtitle">Universidad de Palermo</h3>
            <p class="education-work">Diseñador Fotografico</p>
            <p class="card-year">2010 - 2015</p>
        </section>
    </article>
</section>
