<section class="container" id="education">
    <h2 class="card-title">Formación</h2>

    <section class="card" *ngFor="let education of educations">
        <article class="card-container">
            <section class="card-logo">
                <picture>
                    <img
                        class="img-logo"
                        [src]="education.img"
                        alt="Logo Expertise 1"
                    />
                </picture>
            </section>

            <section>
                <h3 class="card-subtitle">{{ education.title }}</h3>
                <p class="card-work">{{ education.company }}</p>
                <p class="card-year">
                    {{ education.start }} - {{ education.end }}
                </p>
                <p class="card-city">
                    {{ education.city }}
                </p>
                <p class="card-text">
                    {{ education.description }}
                </p>
            </section>
        </article>
    </section>
</section>
