<section class="container" id="skills">
    <article class="card-flex">
        <h2 class="card-title">{{ title }}</h2>
        <i routerLink="/nueva-habilidad" class="fa-solid fa-plus"></i>
    </article>
    <article *ngFor="let skill of skills">
        <article class="card-flex">
            <p class="skill-title">{{ skill.skill }}</p>
            <div class="update-delete">
                <i
                    class="fa-solid fa-pen-to-square"
                    [routerLink]="['/editar-habilidad', skill.id]"
                ></i>
                <i
                    (click)="deleteSkillData(skill.id)"
                    class="fa-solid fa-trash-can"
                ></i>
            </div>
        </article>
        <div class="skill-light-grey">
            <div
                class="skill-container skill-center skill-padding-small skill-dark-grey"
                [style.width]="skill.rate + '%'"
            >
                {{ skill.rate }}%
            </div>
        </div>
    </article>
</section>
