.skills-title {
    margin: 5rem 0 1rem 0;
    padding: 2rem 0;
    color: var(--bs-color-text-dark);
    font-size: var(--bs-font-size-h2);
}

.sill-title {
    letter-spacing: 4px;
    padding: 0.6rem 0;
}

.skill-light-grey {
    color: #000;
    background-color: #f7f8f8;
}

.skill-container:after,
.skill-container:before {
    content: "";
    display: table;
    clear: both;
}

.skill-container {
    padding: 0.01em 16px;
}

.skill-center {
    display: inline-block;
    width: auto;
    text-align: center;
}

.skill-center {
    text-align: center;
}

.skill-padding-small {
    padding: 4px 8px;
}

.skill-dark-grey {
    color: var(--bs-text-color);
    background-color: #acbb78;
}
